
target
classes
*.class
.settings
.classpath
.project
log
bin
/testJava/bin
/WeChat/.settings
/testJava/.settings
/testJava/log
/WeChat/log
/WeChat/build
/accumulo-user/lib
/antrol/WeChat/WebRoot/WEB-INF/lib
